* {
   box-sizing: border-box;
 }
 
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9DC44E;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dealer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dcard {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.messaging {
    font-size: 20px;
    margin: 0px;
    align-items: center;
}

.pcard {
    display: flex;
    justify-content: center;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

button {
    margin: 5px;

}

button:focus {
    outline: 0px;
}

h1 {
    color: black;
}

h2 {
    color: black;
    font-size: 15px;
    margin: 5px;
}

h3 {
    font-size: 10px;
    color: black;
}

h4 {
    margin: 10px;
    color: black;
}